<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wbs.ginos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wbs.ginos.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
				android:name="com.paypal.android.MEP.PayPalActivity"
				android:configChanges="keyboardHidden|orientation"
				android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.wbs.ginos.FetchCategoriesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wbs.ginos.FetchSelCatActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wbs.ginos.SingleItemActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wbs.ginos.EShopActivity"
            android:label="@string/title_activity_eshop" >
        </activity>
        <activity
            android:name="com.wbs.ginos.LoyaltyActivity"
            android:label="@string/title_activity_loyalty" >
        </activity>
        <activity
            android:name="com.wbs.ginos.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.wbs.ginos.ShoppingCartActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>